@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');



body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.footer {
  color: #b85747;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center; /* optional: aligns items vertically in the center */
  justify-content: center;
}

.github-icon {
  font-size: 30px; /* adjust this value to your needs */
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.icon-container {
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease-in 5.2s forwards;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}


h1 {
  font-size: 2rem;
  color: white;

}

h2 {
  font-size: 1.5rem;
  color: white;; /* replace with the color you want */
}

p {
  font-size: 1.3rem;
  color: white;; /* replace with the color you want */
}


@keyframes floatUp {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s, transform 1s;
}

.scroll-animate.animate {
  opacity: 1;
  transform: translateY(0);
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-p {
margin-bottom: 3vh;
}

.landing {
  text-align: center;
}

.choose-files {
  display: none;
}

.upload-div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.input-wrapper {
  margin-right: 20px;
}

.line-up {
  opacity: 0;
  transform: translateY(50px);
  animation-name: lineUpEffect;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes lineUpEffect {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-up:nth-child(1) {
  animation-delay: 4.2s;
}

.line-up:nth-child(2) {
  animation-delay: 4.3s;
}

.line-up:nth-child(3) {
  animation-delay: 4.4s;
}

.line-up:nth-child(4) {
  animation-delay: 4.5s;
}

.line-up:nth-child(5) {
  animation-delay: 4.6s;
}

.line-up:nth-child(6) {
  animation-delay: 4.7s;
}

@keyframes float-up {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

html {
  scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 150%;
  border: none;
  outline: none;
  background-color: #73a892;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #5F8575;
}

.page-container {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
}

.section1-container {
  text-align: center;
  border-radius: 20px;
  padding: 70px;
  background-image: url("images/chavhouse.png");
  background-size: cover;
  background-position: center;
  height: 67vh;
  position: relative;

}

#playButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playIcon {
  font-size: 2.5rem; // Adjust as needed
}

.banner-h1 {
  font-size: 2.3rem;
margin-top: 50px;
color: #b85747;
}

.banner-h2 {
  margin-bottom: 5vh;
  color: #b85747;
  font-size: 1.5rem;
}

.button-group {
  position: absolute;
  bottom: 3vh;
  right: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-group .top-button{
  margin-left: auto;
}

.top-button {
  margin: 10px 0;
  padding: 0.5em 1em;
  background-color: #7ba795;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 3px 3px;
  border: none;
  cursor: pointer;
}

label, button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



.top-button:hover {
  background-color: #7ba795;
  color: white;
  box-shadow: 6px 6px;
}

.custom-rsvp {

  display: inline-block;

}


.section2-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  height: 60vh;
  background-color: #B85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.left-section2 {
  flex-basis: 50%;
  margin: auto;
  color: rgb(184, 87, 71);
  text-align: left;
  padding-left: 5%;
  flex-basis: 40%;
  order: 1;
}

.left-section22 {
  flex-basis: 50%;
  margin: auto;
  color: rgb(184, 87, 71);
  text-align: left;
  padding-left: 5%;
  flex-basis: 40%;
  order: 2;
}

.right-section22 {
  flex-basis: 50%;
  margin: auto;
  color: rgb(184, 87, 71);
  text-align: left;
  padding-left: 5%;
  flex-basis: 40%;
  order: 1;
}

.right-section2 {
  flex-basis: 50%;
    order: 2;
    margin: auto;
    color: rgb(184, 87, 71);
    text-align: right;
    padding-right: 5%;
}

.section3-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  height: 60vh;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.left-section3 {
  flex-basis: 50%;
  margin-right: 5%;
  margin: auto;
  color: #b85747;
  text-align: left;
  padding-left: 5%;
}

.right-section3 {
  flex-basis: 50%;
  margin: auto;
}

.section33-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  height: 60vh;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.left-section33 {
  flex-basis: 50%;
  margin-right: 5%;
  margin: auto;
  color: #b85747;
  text-align: left;
  padding-left: 5%;
}

.right-section33 {
  flex-basis: 50%;
  margin: auto;
}

.section4-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  height: 50vh;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.section14-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 50px;
  border: 2px solid #7ba795;
  background-color: #7ba795;
  margin-bottom: 4vh;
  box-shadow: 7px 7px #ff9888;
  text-align: center;
}

.left-section4 {
  flex-basis: 50%;
  margin: auto;
}

.right-section4 {
  flex-basis: 50%;
  margin-right: 5%;
  margin: auto;
  color: #b85747;
  text-align: right;
  padding-right: 5%;
}

.section10-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  height: 60vh;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.left-section10 {
  flex-basis: 50%;
  margin-right: 5%;
  margin: auto;
  color: #b85747;
  text-align: left;
  padding-left: 5%;
}

.right-section10 {
  flex-basis: 50%;
  margin: auto;
}

.section5-container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;
}

.left-section5 {
  flex-basis: 50%;
  order: 2;
  margin-right: 5%;
  margin: auto;
  color: #b85747;
  text-align: right;
  padding-right: 5%;



}

.right-section5 {
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: left;
  margin-left: 3%;
  order: 1;
}

.section6-container {
  text-align: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 70px;
  border: 2px solid #b85747;
  background-color: #b85747;
  margin-bottom: 5vh;
  box-shadow: 7px 7px #ff9888;

}

.traveldiv1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section6 {
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section6 {
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: center;
}

.img6 {
  border-radius: 20px;
  width: 100%;
  box-shadow: 3px 3px white;
}

.traveldiv2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section7 {
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;

}

.right-section7 {
  flex-basis: 50%;
  margin-right: 5%;
  margin: auto;
  text-align: center;
}

.img7 {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px white;
}

.traveldiv3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: center;
}

.traveldiv4 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  text-align: center;
}

.traveldiv5 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: center;
}

.traveldiv6 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.travel-image {
  border-radius: 20px;
  width: 80%;
  object-fit: fill;
  box-shadow: 7px 7px white;
  margin-right: 40px;
  transform: rotate(7deg);
}

.left-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  text-align: center;
}
.bottom-container {

}





.fa-solid {
color: #b85747;

}

.img1 {
max-width: 50%;
height: auto;
}

.img2 {
max-width: 65%;
height: auto;

}

.img3 {
max-width: 57%;
height: auto;
float: right;
margin-right: 25px;
}
.img30 {
  max-width: 57%;
  height: auto;
  float: right;
  margin-right: 50px;
  }

.img4 {
max-width: 50%;
height: auto;
float: left;
margin-left: 50px;
}
.img5 {
max-width: 60%;
height: auto;

}

.img10 {
max-width: 57%;
height: auto;
float: right;
margin-right: 40px;
}



.mapbutton {
border-radius: 5px;
background-color: #73a892;
border: none;
color: white;
padding: 12px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1rem;
margin: 4px 2px;
cursor: pointer;
box-shadow: 3px 3px;
}

.mapbutton:hover {
background-color: #5F8575;
box-shadow: 5px 5px;

}

@media screen and (max-width: 1000px) {

  body {
    font-size: 10px;
  }

  .banner-h1 {
    font-size: 2rem;
    margin-top: 10px;
    color: #b85747;
    }

    .banner-h2 {
      font-size: 1rem;
      margin-top: 30px;
      color: #b85747;
      }


  .p-bottom {
    color: #b85747;
    font-size: 1rem;
  }


.page-container {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%;

}

.section1-container {
  text-align: center;
  border-radius: 30px;
  padding: 30px;
  background-size: cover;
  background-position: left bottom;
  height: 75vh;
}

.bannerh2 {
  margin-bottom: 3vh;
}



.button-group {

  bottom: 2vh;
  right: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.top-button {
  margin: 7px 0;
  padding: 0.7em 1em;
  background-color: #7ba795;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px;

}

.top-button:hover {
  background-color: #5F8575;
  color: white;
}

.section2-container {
  flex-direction: column;
  height: auto;
  border-radius: 30px;
  padding: 30px;
  border: none;
  box-shadow: 7px 7px #ff9888;
}

.left-section2 {
  margin: 0;
  text-align: center;
  order: 1;

}

.right-section2 {
  text-align: center;
  padding-right: 0;
}

.section22-container {
  flex-direction: column;
  height: auto;
  border-radius: 30px;
  padding: 30px;
  border: none;
  box-shadow: 7px 7px #ff9888;
}

.left-section22 {
  margin: 0;
  text-align: center;
  order: 1;
  padding-left: 0;

}

.right-section22 {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 15px;
}

.section3-container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  border-radius: 30px;
  padding: 30px;
  padding: 30px;
  border: none;
  box-shadow: 7px 7px #ff9888;
  order: 2;
}

.left-section3 {
  margin: 0;
  text-align: center;
  padding-left: 0;
  padding-bottom: 30px;
}

.right-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section33-container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  border-radius: 30px;
  padding: 30px;
  padding: 30px;
  border: none;
  box-shadow: 7px 7px #ff9888;
  order: 2;
}

.left-section33 {
  margin: 0;
  text-align: center;
  padding-left: 0;
  padding-bottom: 15px;
}

.right-section33 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img3 {
  max-width: 55%;
  height: auto;
  margin-right: 0px;

}

.section4-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 60px;
  border: 1px solid #b85747;
  height: auto;
  box-shadow: 7px 7px #ff9888;
}

.left-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section4 {
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: center;
  padding-right: 0px;
}

.section5-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 5vh;
  border: 1px solid #b85747;
  box-shadow: 7px 7px #ff9888;
  text-align: center;

}

.left-section5 {
  text-align: center;
  padding-right: 0;



}

.right-section5 {
  text-align: center;
}

.section6-container {
  text-align: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 7px 7px #ff9888;

}





.traveldiv1 {
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section6 {
  flex-basis: 50%;
  margin: auto;
  text-align: center;
}

.right-section6 {
  flex-basis: 50%;
  margin: auto;
  color: #b85747;
  text-align: center;
}

.img6 {
  border-radius: 20px;
  width: 100%;
  object-fit: fill;
  box-shadow: 7px 7px white;
}









.google-form {
font-size: 2rem;
}



.fa-solid {
  color: #b85747;
}

.img1 {
  max-width: 50%;
  height: auto;
}

.img2 {
  max-width: 60%;
  height: auto;
  margin-left: 0px;
}

.img4 {
  max-width: 50%;
  height: auto;
  float: center;
  margin: 0;
}
.img5 {
  max-width: 65%;
  height: auto;
  margin-left: 0;
}

.mapbutton {
  border-radius: 15px;
  background-color: #73a892;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 10px 10px;
}

.mapbutton:hover {
  background-color: #5F8575;
  box-shadow: 15px 15px;

}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2.5rem;
  border: none;
  outline: none;
  background-color: #73a892;
  color: #ff9888;
  cursor: pointer;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 7px 7px
}

#myBtn:hover {
  background-color: #5F8575;
}
.upload-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img10 {
  max-width: 60%;
  height: auto;
  margin-right: 0;
}

.travel-image {
  border-radius: 20px;
  width: 80%;
  object-fit: fill;
  box-shadow: 5px 5px white;
  margin-left: 0px;
  margin-right: 0;
  margin-bottom: 40px;
  margin-top: 20px;
  transform: rotate(2deg);
}

.section14-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  border: 2px solid #7ba795;
  background-color: #7ba795;
  margin-bottom: 4vh;
  box-shadow: 7px 7px #ff9888;
  text-align: center;
}

#playButton {
  cursor: pointer;
}

.img30 {
  max-width: 70%;
  margin-right: 0px;
  }

}
