h1 {
    font-size: 2rem;
    color: blue;
    }
    
    .h1-red {
    font-size: 2rem;
    color: white;
    color: blue;
    
    }
    
    h2 {
    font-size: 1.5rem;
    color: blue;
    
    }
    
    p {
    font-size: 1rem;
    color: blue;
    }
    
    .p-red {

    color: blue;
    }