.landing-container {
    
   height: 98vh;
}


.carousel {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    overflow: hidden;
  }
  
  .landing-image {
    width: auto;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 5px 5px white;
    transition: transform 0.5s ease-in-out;
  }
  
  .text-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;  /* You may need to adjust this depending on your text size and button size */
  }
  

  
  .slide-in {
    transform: translateX(0);
  }
  
  
  