.landing-container {
    
   height: 98vh;
}


.carousel {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    overflow: hidden;
  }
  
  .landing-image {
    width: auto;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 5px 5px white;
    transition: transform 0.5s ease-in-out;
  }
  
  .text-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;  /* You may need to adjust this depending on your text size and button size */
  }
  
  .language-btn {
    display: none;
}

  
@keyframes floatIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.float-in {
    animation: floatIn 1s ease-out;
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .landing-container {
        text-align: center; 
    }
  
    .landing-image {
      height: 50vh;
      width: auto;
      border-radius: 20px;
    }
  
    .text-and-buttons {
      height: auto;
    }
  
    .language-btn {
      display: block;
    }
  }

  body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  
  
  