.page-container {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
  }

  .section1-container {
    text-align: center;
    border-radius: 20px;
    padding: 70px;
    background-image: url("images/chavhouse.png"); /* Set the background image */
    background-size: cover; /* Make sure the image covers the entire banner */
    background-position: center; /* Center the image */
    height: 67vh; /* Set the height of the banner */
    position: relative;
  }

  .bannerh2 {
    margin-bottom: 5vh;
  }

  

  .button-group {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    display: flex;
    flex-direction: column; /* Change the direction to row */
    justify-content: flex-end; /* Align the items to the right */
    align-items: center;
  }
  
  .button-group .RSVP{
    margin-left: auto; /* Push the last button to the right */
  }
  
  


  .RSVP {
    
    margin: 10px 0;
    padding: 0.5em 1em;
    background-color: #5F8575;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
  }

  .RSVP:hover {
    
    background-color: #7ba795;
    color: white;
   
  }

  
  .section2-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 75vh;
    border: 1px solid #b36a5e;
  }
  
  .left-section2 {
    flex-basis: 50%;
    margin: auto;    
  }
  
  .right-section2 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: right;
    padding-right: 5%;
  }

  .section3-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 70vh;
    border: 1px solid #b36a5e;
  }
  
  .left-section3 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: left;
    padding-left: 5%;
  }

  .right-section3 {
    flex-basis: 50%;
    margin: auto;
  }

  .section4-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 75vh;
    border: 1px solid #b36a5e;
  }
  
  .left-section4 {
    flex-basis: 50%;
    margin: auto;
  }
  
  .right-section4 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: right;
    padding-right: 5%;
  }

  .section5-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #b36a5e;
  
  }
  
  .left-section5 {
    flex-basis: 50%;
    margin: auto;
  }
  
  .right-section5 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

  .section6-container {
    text-align: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 40px;
  }
  
  .traveldiv1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section6 {
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section6 {
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

  .img6 {
    border-radius: 20px;
    width: 100%;
  }

  .traveldiv2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }

  .left-section7 {
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
  }
  
  .right-section7 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

.img7 {
  width: 100%;
  border-radius: 20px;
}

.traveldiv3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv4 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv5 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv6 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}


  .icon-container {
    height: auto;
    display: flex;
			justify-content: center;
			align-items: center;
      margin: 4vh 0;
  }
  
  .icon-container i {
    font-size: 2em;
  }

  body {
    font-family: monospace;
    color: #b36a5e;
  }

  .fa-solid {
    color: #b36a5e;
    size: 
  }

  .img1 {
    max-width: 50%;
    height: auto;
  }

  .img2 {
    max-width: 65%;
    height: auto;
  }

  .img3 {
    max-width: 70%;
    height: auto;
    float: right;
  }

  .img4 {
    max-width: 65%;
    height: auto;
    float: left;
  }
  .img5 {
    max-width: 70%;
    height: auto;
  }

  h1 {
    font-size: 32px;
  }
    
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .travelp {
    text s
  }

  .mapbutton {
    border-radius: 5px;
    background-color: #5F8575; /* Set the background color */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
    padding: 12px 24px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set as block element */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
  }

  .mapbutton:hover {
    border-radius: 5px;
    background-color: #73a892; /* Set the background color */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
    padding: 12px 24px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set as block element */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
  }

  .mapbutton2 {
    border-radius: 5px;
    background-color: #5F8575; /* Set the background color */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
    padding: 12px 24px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set as block element */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
  }

  .mapbutton2:hover {
    border-radius: 5px;
    background-color: #73a892; /* Set the background color */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
    padding: 12px 24px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set as block element */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
  }