.page-container {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
  }

  .section1-container {
    text-align: center;
    border-radius: 20px;
    padding: 70px;
    background-image: url("images/chavhouse.png"); /* Set the background image */
    background-size: cover; /* Make sure the image covers the entire banner */
    background-position: center; /* Center the image */
    height: 67vh; /* Set the height of the banner */
    position: relative;
    
  }

.banner-h1 {
  margin-top: 50px;
}

  .bannerh2 {
    margin-bottom: 5vh;
  }

  

  .button-group {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    display: flex;
    flex-direction: column; /* Change the direction to row */
    justify-content: flex-end; /* Align the items to the right */
    align-items: center;
  }
  
  .button-group .top-button{
    margin-left: auto; /* Push the last button to the right */
  }
  
  


  .top-button {
    
    margin: 10px 0;
    padding: 0.5em 1em;
    background-color: #7ba795;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 3px 3px;
  }

  .top-button:hover {
    
    background-color: #7ba795;
    color: white;
    box-shadow: 5px 5px;
   
  }

  
  .section2-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 60vh;
    border: 2px solid #b36a5e;
    background-color: #b36a5e;
    color: white;
    margin-bottom: 10vh;
    box-shadow: 7px 7px #ff9888;
  }
  
  .left-section2 {
    flex-basis: 50%;
    margin: auto;    
  }
  
  .right-section2 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: right;
    padding-right: 5%;
    
  }

  .section3-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 60vh;
    border: 2px solid #b36a5e;
    background-color: #b36a5e;
    margin-bottom: 10vh;
    box-shadow: 7px 7px #ff9888;
  }
  
  .left-section3 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: left;
    padding-left: 5%;
  }

  .right-section3 {
    flex-basis: 50%;
    margin: auto;
  }

  .section4-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    height: 50vh;
    border: 2px solid #b36a5e;
    background-color: #b36a5e;
    margin-bottom: 10vh;
    box-shadow: 7px 7px #ff9888;
  }
  
  .left-section4 {
    flex-basis: 50%;
    margin: auto;
  }
  
  .right-section4 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: right;
    padding-right: 5%;
  }

  .section5-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    border: 2px solid #b36a5e;
    background-color: #b36a5e;
    margin-bottom: 10vh;
    box-shadow: 7px 7px #ff9888;
  }
  
  .left-section5 {
    flex-basis: 50%;
    margin-left: 60px

  }
  
  .right-section5 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

  .section6-container {
    text-align: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 70px;
    border: 2px solid #b36a5e;
    background-color: #b36a5e;
    color: white;
    margin-bottom: 10vh;
    box-shadow: 7px 7px #ff9888;
    
  }
  
  .traveldiv1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section6 {
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section6 {
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

  .img6 {
    border-radius: 20px;
    width: 100%;
    box-shadow: 3px 3px;
  }

  .traveldiv2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }

  .left-section7 {
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
  }
  
  .right-section7 {
    flex-basis: 50%;
    margin-right: 5%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }

.img7 {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px;
}

.traveldiv3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-3{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv4 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-4{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv5 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-5{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}

.traveldiv6 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.left-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  margin-right: 5%;
  text-align: center;
}

.right-section-travel-6{
  flex-basis: 50%;
  margin: auto;
  color: #b36a5e;
  text-align: center;
}


  .icon-container {
    height: auto;
    display: flex;
			justify-content: center;
			align-items: center;
      margin: 4vh 0;
  }
  
  .icon-container i {
    font-size: 2em;
  }

  body {
    font-family: monospace;
    color: #b36a5e;
  }

  .fa-solid {
    color: #b36a5e;
    size: 
  }

  .img1 {
    max-width: 50%;
    height: auto;
  }

  .img2 {
    max-width: 65%;
    height: auto;
    margin-left: 50px;
  }

  .img3 {
    max-width: 57%;
    height: auto;
    float: right;
    margin-right: 25px;
  }

  .img4 {
    max-width: 50%;
    height: auto;
    float: left;
    margin-left: 40px;
  }
  .img5 {
    max-width: 70%;
    height: auto;
  }

  h1 {
    font-size: 32px;
  }

  .h1-red {
    font-size: 32px;
    color: white;
    
  }
    
  h2 {
    font-size: 20px;
    
  }

  p {
    font-size: 16px;
    color: #b36a5e;
    
  }

  .p-red {
    color:white
  }

  .mapbutton {
    border-radius: 5px;
    background-color: #73a892; /* Set the background color */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
    padding: 12px 24px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set as block element */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    box-shadow: 3px 3px;
  }

  .mapbutton:hover {
    background-color: #5F8575; /* Set the background color */
    box-shadow: 5px 5px;
   
  }



  @media screen and (max-width: 1000px) {
    .page-container {
      width: 90vw;
      margin: 0 auto;
      margin-bottom: 5%;
      margin-top: 3%;
      
    }
  
    .section1-container {
      text-align: center;
      border-radius: 30px;
      padding: 90px;
      background-image: url("images/chavhouse.png"); /* Set the background image */
      background-size: cover; /* Make sure the image covers the entire banner */
      background-position: center; /* Center the image */
      height: 67vh; /* Set the height of the banner */
    
    }
  
    .bannerh2 {
      margin-bottom: 3vh;
    }
  
    
  
    .button-group {
      
  
      display: flex;
      flex-direction: column; /* Change the direction to row */
      justify-content: center; /* Align the items to the right */
      align-items: center;
    }
    
    .button-group .top-button{
   
    }
    
    
  
  
    .top-button {
      
      margin: 10px 0;
      padding: 0.5em 1em;
      background-color: #5F8575;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 30px;
      border-radius: 5px;
    }
  
    .top-button:hover {
      
      background-color: #7ba795;
      color: white;
     
    }
  
    .section2-container {
      flex-direction: column;
      height: auto;
      border-radius: 0;
      padding: 20px;
      border: none;
    }
    
    .left-section2 {
      margin: 0;
    }
    
    .right-section2 {
      margin-right: 0;
      text-align: left;
      padding-right: 0;
    }
  
    .section3-container {
      flex-direction: column;
      height: auto;
      border-radius: 0;
      padding: 20px;
      border: none;
    }
    
    .left-section3 {
      margin: 0;
      text-align: center;
      padding-left: 0;
    }
    
    .right-section3 {
      margin: 0;
      margin-bottom: 20px;
    }
  
    .img3 {
      max-width: 100%;
      height: auto;
    }
  
    .section4-container {
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      padding: 30px;
      height: 60vh;
      border: 1px solid #b36a5e;
    }
    
    .left-section4 {
      flex-basis: 50%;
      margin: auto;
    }
    
    .right-section4 {
      flex-basis: 50%;
      margin-right: 5%;
      margin: auto;
      color: #b36a5e;
      text-align: right;
      padding-right: 5%;
    }
  
    .section5-container {
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      padding: 30px;
      border: 1px solid #b36a5e;
    
    }
    
    .left-section5 {
      flex-basis: 50%;
      margin: auto;
    }
    
    .right-section5 {
      flex-basis: 50%;
      margin-right: 5%;
      margin: auto;
      color: #b36a5e;
      text-align: center;
    }
  
    .section6-container {
      text-align: center;
      justify-content: space-between;
      border-radius: 20px;
      padding: 40px;
      
      
    }
    
    .traveldiv1 {
      display: flex;
      justify-content: space-between;
      margin-top: 10vh;
    }
    
    .left-section6 {
      flex-basis: 50%;
      margin: auto;
      margin-right: 5%;
      text-align: center;
    }
    
    .right-section6 {
      flex-basis: 50%;
      margin: auto;
      color: #b36a5e;
      text-align: center;
    }
  
    .img6 {
      border-radius: 20px;
      width: 100%;
    }
  
    .traveldiv2 {
      display: flex;
      justify-content: space-between;
      margin-top: 10vh;
    }
  
    .left-section7 {
      flex-basis: 50%;
      margin: auto;
      margin-right: 5%;
    }
    
    .right-section7 {
      flex-basis: 50%;
      margin-right: 5%;
      margin: auto;
      color: #b36a5e;
      text-align: center;
    }
  
  .img7 {
    width: 100%;
    border-radius: 20px;
  }
  
  .traveldiv3 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section-travel-3{
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section-travel-3{
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }
  
  .traveldiv4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section-travel-4{
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section-travel-4{
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }
  
  .traveldiv5 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section-travel-5{
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section-travel-5{
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }
  
  .traveldiv6 {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  
  .left-section-travel-6{
    flex-basis: 50%;
    margin: auto;
    margin-right: 5%;
    text-align: center;
  }
  
  .right-section-travel-6{
    flex-basis: 50%;
    margin: auto;
    color: #b36a5e;
    text-align: center;
  }
  
  
    .icon-container {
      height: auto;
      display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
    }
    
    .icon-container i {
      font-size: 2em;
    }
  
    body {
      font-family: monospace;
      color: #b36a5e;
    }
  
    .fa-solid {
      color: #b36a5e;
      size: 
    }
  
    .img1 {
      max-width: 50%;
      height: auto;
    }
  
    .img2 {
      max-width: 65%;
      height: auto;
    }
  
   
  
    .img4 {
      max-width: 65%;
      height: auto;
      float: left;
    }
    .img5 {
      max-width: 70%;
      height: auto;
    }
  
    h1 {
      font-size: 60px;
    }
      
    h2 {
      font-size: 40px;
    }
  
    p {
      font-size: 35px;
    }
  }